body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 40%;
  margin: auto;
  border: 10px solid black;
  border-radius: 30%;
  background-color:darkcyan;
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.restart-row{
  height: 3rem;
}

.restart{
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
  width: 20%;
  border-radius: 10%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
